<% provide(:page_title, "Student List") %>
<% provide(:page_header, "Student List")  %>
<% provide(:page_header_description, "Registered Students")  %>

<div class="box">
    <div class="box-header">
      <h3 class="box-title">List of Students</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
    <% form_tag students_path, :method => 'get' do %>
      <% content_tag :label do %>
      Search term:
      <%= text_field_tag :search, params[:search] %>
      <% end %>
    <% end %>
      <table id="all_student_list_table" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Reg No</th>
            <th>Name</th>
            <th>Department</th>
            <th>State</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |s|%>
          <tr>
            <td><%= s.regno  %> </td> 
            <td><%= s.first_name.to_s + ' ' + s.last_name.to_s  %> </td> 
            <td><%= s.department_id %></td>
            <td><%= s.state %></td>
            <td><%= link_to("View Details", edit_student_path(s)) %></td>
          <% end %>        
        </tbody>
      </table>


      <%=  will_paginate  %>
    </div><!-- /.box-body -->
 </div><!-- /.box -->  
